---
http_interactions:
- request:
    method: post
    uri: https://onesignal.com/api/v1/notifications
    body:
      encoding: UTF-8
      string: '{"include_player_ids":["1f65fac8-09f5-4c9e-bc91-7b9c93708e7c"],"contents":{"en":"Test
        message."},"app_id":"387c8ee0-f813-400a-b10e-078a0d4108c0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NjI4MjU3YzQtY2FjYS00M2NhLTg5MDUtZjcyMjQ1YTJmODkw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ebfdad1448e6bd930b35faa1ee56d7b5"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7a91e3bc-5bef-4942-bf59-5bd18e00dcf4","recipients":1}'
  recorded_at: Sun, 02 Jul 2017 11:16:38 GMT
recorded_with: VCR 3.0.3
