%h2{:style => "font-size: 30px; color: #6C6AB8; margin:0; font-weight: 300; margin-bottom: 30px"} Hi there,
It's Krzysztof from Watchdocs.
%p
  Thanks for giving a try to our tool!
  %br/
  We are at the very beginning of our mission to stop developers from writing code that eventually no one understands.
%p
  We are still at early days so
  %strong I can't stress enough how valuable your feedback is to us.
  Don't hesitate to get in touch if you need any help!
%p{:style=> "margin-bottom: 10; margin-top: 30px"}
  Many thanks,
%p{:style=> "margin: 0;"}
  Krzysztof Szromek
%div{:style=> "font-size: 0.8em;"}
  %a{:href => "http://watchdocs.io", :style => "color: #62B8F5"} Watchdocs
  Team
