!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext", :rel => "stylesheet"}/
    %title JS Bin
  %body{:style => "background-color: #6C6AB8"}
    %div{"padding:20px" => "", :style => "width:100%; max-width: 600px; margin: 40px auto; text-align:center; font-family: Roboto, Arial;"}
      %img{:src => "https://www.dropbox.com/s/rs7lnqrp4o3buq1/watchdocslogo_white_full.png?raw=1", :style => "width: 100%; max-width: 300px; margin-bottom: 40px;"}/
      %div{:style => "text-align: left; background-color: #fff; border-radius: 5px; padding: 20px; -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,.43); -moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,.43); box-shadow: 3px 3px 6px -1px rgba(0,0,0,.43); color: #666; width: 100%; position: relative;"}
        = yield
      %div{:style => "margin-top: 30px; color: #aaa; font-size:10px"}
        Watchdocs.io is brought to you by
        %a{:href => "https://apicracy.com", :style => "color: #fff"} Apicracy
